body {
    background-image: url('dot-grid.png');
    border-style: hidden;
    margin: 0px;
    padding: 40px;
}


header {
    background-color: #5cdb95;
    color: #05386B;
    padding: 10px;
    border: #05386B 0.5px solid;
    box-shadow: 5px 10px #05386B;

}

main {
    background-color: #379683;
    color: #EDF5E1;
    padding: 10px;
    border: #05386B 0.5px solid;
    box-shadow: 5px 10px #05386B;
}
h1{
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}
img {
    float: left;
    border-bottom: #05386B solid;
    border-right:   #05386B 2px solid;
}

.link:link {
    color: #18493f;
}

.link:visited {
    color: darkblue;
}

.link:hover {
    color: #EDF5E1;
}

.link:active {
    color: #05386B;
}

footer {
    text-align: left;
    background-color: #5cdb95;
    color: #05386B;
    padding: 10px;
    border: #05386B 0.5px solid;
    box-shadow: 5px 10px #05386B;
}